@using QuestBoard.Service.Helpers
<footer class="navbar navbar-dark bg-dark mt-auto">
    <div class="container">
        <span class="navbar-text">D&amp;D Quest Board v@(AppVersion.Current). Created by Theun Schut.</span>
        <a href="https://github.com/theunschut/dnd-quest-board" target="_blank" class="navbar-brand">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>
